.user-info-cart{
    float: right;
    clear: both;
    padding: 19px 25px;
    min-width: 299px;
    margin: 11px 11px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgb(155, 155, 155);
}

.logout-anchor{
    cursor: pointer;
    font-size: 29px;
    font-weight: 500;
    display: block;
    text-align: left;
    text-decoration: none;
    color: black;
}

.email-txt{
    display: block;
    text-align: left;
    font-size: 25px;
    font-weight: 400;
    overflow-wrap: break-word;
}